@import "~bootstrap/scss/bootstrap.scss";



p{
    color:black;
    font-size:20px;
       margin-top:-500px;
   margin-left:800px;
}
.mlk{
 
    margin-top: 100px;
    margin-left:100px;
  
}
.bubble{

  height:600px;
  width:850px;
   margin-top:-850px;
   margin-left:600px;

}

.quote-paragraph{
    color:rgb(43, 41, 41);
    font-family: 'Bangers', cursive;
    margin-top:-640px;
    margin-left:630px;
   text-align:center;
    font-size:53px;
    font-weight: 400;
    letter-spacing:2px;
}

  .video{
   
    object-fit:cover;
    height:100%;
    margin-top:-100px;
    width:100%;
    position:absolute;
    z-index:-30;
}