@import "~bootstrap/scss/bootstrap.scss";


body{
    background-color:rgb(24, 23, 23);
    height:100vh;
    width:100%;
}
.mlk{
   
    margin-top: -300px;
    margin-left:200px;
  
}
.bubble{
  height:500px;
  width:700px;
   margin-top:-850px;
   margin-left:700px;
  
   
}




.peace1{
    height:40px;
    width:40px;
   
        letter-spacing:400px;
  
   
}
.peace2{
    margin:30px;
    margin-left:200px;
  
   height:40px;
    width:40px;
    
        letter-spacing:400px;
 
   
}
.peace3{
    margin:30px;
    margin-left:200px;
  
   height:70px;
    width:70px;
    
        letter-spacing:400px;
 
   
}
.line1{

    margin-left:800px;
  
   height:40px;
    width:40px;
    
       
 
   
}
.line2{
   
    margin-left:300px;
   
  
   height:40px;
    width:40px;
    
       
 
   
}
.line3{
   
    margin-left:300px;
   
  
   height:70px;
    width:70px;
    
       
 
   
}



  